[submodule "lib/FastLED"]
	path = lib/FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "lib/ArtnetWifi"]
	path = lib/ArtnetWifi
	url = https://github.com/rstephan/ArtnetWifi.git
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/pubsubclient"]
	path = lib/pubsubclient
	url = https://github.com/knolleary/pubsubclient.git
